body {
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
  background-color: rgb(128, 178, 208);
}
header, nav, footer, section {
  border: 1px solid black;
  margin: 5px;
  padding: 8px;
}
header {
  font-family: Verdana, sans-serif;
  font-size: 3em;
  font-variant: small-caps;
  color: white;
}
section, nav {
  background-color: rgba(216, 216, 216, 0.50);
}
nav ul {
  color: white;
  margin: 0;
  padding: 0;
  font-variant: small-caps;
}
nav ul li {
  display: inline;
  margin: 5px;
}
footer {
  color: white;
  text-align: center;
}
