/* ---------- Fonts and general setup ---------- */

@font-face {
    font-family: 'a_atmosphericregular';
    src: url('../fonts/atmospheric-rg4al-webfont.woff2') format('woff2'),
         url('../fonts/atmospheric-rg4al-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ----------- Header and navigation ----------- */

html {
    scroll-behavior: smooth;
}

.header-div{
    position: relative;
} 

.view,
body,
html{
    height:100%;
}

.navbar{
    background-color:rgba(0,0,0,.2);
}

#company-name{
    display:none;
    font-family: 'a_atmosphericregular';
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10%;
    font-size: 5rem;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#company-tec{
    display: none;
    font-family: 'a_atmosphericregular';
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 15%;
    font-size: 4.2rem;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* ------------bouncing icons----------- */

.bounce {
    position: absolute;
    left:50%;
    bottom:0;
    margin-top:-25px;
    margin-left:-25px;
    height:50px;
    width:50px;
    background: url('../images/Arrow.png');
    background-size: 100% auto;
    -webkit-animation:bounce 1s infinite;
    -moz-animation:bounce 1s infinite;
    -o-animation:bounce 1s infinite;
    animation:bounce 1s infinite;
  
  }
  
  @-webkit-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @-moz-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @-o-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }


/* ----------------- Footer ------------------ */

.page-footer,.top-nav-collapse{
    background-color:#1C2331;
}

/* --------------- Page Images --------------- */

.parallax {
    /* Set a specific height */
    min-height: 100%; 
    background-image: url('../images/bridge.jpg');
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.juke-logo{
    padding-top: 5px;
    width: 5%;
    padding-right: 15px;
}

.android-logo{
    padding-top: 5px;
    width: 12%;
    padding-right: 10px;
}
.python-logo{
    margin-top: 20px;
    width: 22%;
}

.image-row{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.consultant-row{
    text-align: center;
    box-shadow: 5px 5px 10px 0px gray;
    margin-top: 30px;
}

.kate{
    width: 100%;
    border-radius: 50%;
    padding-top: 20px;
}

.linkedin-icons{
    font-size: 2rem;
    padding: 10px;
}

.alex{
    width: 100%;
    border-radius: 50%;
    padding-top: 20px;
}

/* -------------- Consuntants --------------*/

.consult-name{
    font-size: 1.8rem;
    font-weight: 700;
}

/* -------------- Consent Cookie --------------*/

#consent-popup{
    visibility: visible;
    position: fixed;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    padding: 1rem;
    color: white;
    background-color: #000;
    transition: opacity 1s ease;
}

#consent-text{
    font-size: 1.0rem!important;
}

#accept{
    padding: 2px;
    margin-left: 10px;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
    height: 0px;
    width: 0px;
}

/* ------------------- Media Queries -----------------*/

@media only screen and (min-width: 2560px){

   
}

@media only screen and (max-width: 2556px){

   
}

@media only screen and (max-width: 1440px){

  
}

@media only screen and (max-width: 1024px){
    #company-name{
        font-size: 4.5rem;
    }
    #company-tec{
        font-size: 3rem;
        padding-top: 22%;
    }
    
}
@media (min-width: 800px) and (max-width: 982px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}

@media only screen and (max-width: 850px){
    .breakline-hide-in-mobile{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    #company-name{
        font-size: 4rem;
        padding-top: 20%;
    }
    #company-tec{
        font-size: 2rem;
        padding-top: 30%;
    }
    .navbar{
        background-color:#1C2331
    }
    .juke-logo{
        width: 6%;
    }

@media only screen and (max-width: 425px){
    #company-name{
        font-size: 2.3rem;
    }
    #company-tec{
        font-size: 1.8rem;
    }
    .juke-logo{
        width: 11%;
    }
    .python-logo{
        width: 40%;
    }
    .android-logo{
        width: 20%;
    } 
}    
   

@media only screen and (max-width: 375px){
    #company-name{
        font-size: 2.1rem;
    }
    #company-tec{
        font-size: 1.5rem;
    }
  
    
}    


@media only screen and (max-width: 320px){
    #company-name{
        font-size: 1.8rem;
    }
    #company-tec{
        font-size: 1.2rem;   
    }
    .juke-logo{
        width: 13%;
    }
    .python-logo{
        width: 45%;
    }
    .android-logo{
        margin-top: 4px;
        width: 22%;
    } 
    
}